@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.root {
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	min-width: 360px;
	font-family: 'ONE-Mobile-Regular';
	font-size: 14px;
	color: #1a1a1a;
}

*, ::after, ::before {
	box-sizing: border-box;
}

.root .mypage-container {
	background-color: #f2f2f2;
	text-align: left;
}

.root .root-container {
	max-width: 800px;
	position: relative;
	width: 100%;
	margin: auto;
}

.root .mypage-container section {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

.root .mypage-container .profile-wrap {
	display: flex;
	justify-content: center;
	padding-top: 5px;
	flex-direction: column;
	align-items: center;
}

.root .mypage-container .profile-wrap .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 7px;
    background-size: cover;
    background-position: center;
}

.root .mypage-container .profile-wrap .name-container {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root .mypage-container .profile-wrap .name-container .name-wrap {
    display: flex;
    align-items: baseline;
}

.root .mypage-container .profile-wrap .name-container .name-wrap strong {
    font-size: 23px;
    width: 90px;
    text-align: center;
    margin: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.root .mypage-container .profile-wrap .name-container small {
    background-color: #f2f2f2;
    font-size: 16px;
    font-weight: normal;
    padding: 3px 5px 1px;
    margin-bottom: 3px;
    align-self: center;
}

.root .mypage-container .title {
    padding-left: 20px;
    margin-bottom: 20px;
}

.list-group-flush {
    border-radius: 0;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.root .mypage-container ul.list-group.list-group-flush li.list-group-item {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 10px;
}

.list-group-item {
    position: relative;
    background-color: #fff;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:-webkit-any-link {
    cursor: pointer;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.root .mypage-container ul.list-group.list-group-flush li.list-group-item a>p>img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.root .sticker-container[data-icon=attendance] {
    background-image: url(/images/mypage/attendance.svg);
}

.root .sticker-container[data-icon] {
    background-repeat: no-repeat;
    background-position-x: calc(100% + 15px);
    background-position-y: 13px;
}

.root .sticker-container[data-color=purple] {
    background-color: #6d00e0;
}

.root .sticker-container[data-color=yellow] {
    background-color: #ffc200;
}

.root .sticker-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 13px;
    height: 80px;
    align-items: center;
    color: #fff;
}

.root .sticker-container .title-wrap {
    display: flex;
    flex-direction: column;
}

.root .time-wrap {
    width: 60px;
    text-align: center;
}

.root .match-wrap {
    display: flex;
    flex: 1;
    text-align: left;
    padding: 0 20px;
}

.root .match-wrap .ground-wrap p {
    padding-left: 10px;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.root .match-wrap .ground-wrap p.parking-wrap small {
    padding-left: 7px;
    position: relative;
    display: inline-block;
}

.root .match-wrap .ground-wrap p small {
    color: #212120;
    font-size: 12px;
}

.root li.list-group-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px;
    background-color: #fff;
}

.root .low {
	background-color: #28a745;
	border-radius: 8px;
	padding: 4px;
	color: #fff;
}

.root .middle {
	background-color: #17a2b8;
	border-radius: 8px;
	padding: 4px;
	color: #fff;
}

.root .high {
	background-color: #fd7e14;
	border-radius: 8px;
	padding: 4px;
	color: #fff;
}

.root .man {
	background-color: #0080ff;
	border-radius: 8px;
	padding: 4px;
	color: #fff;
}

.root .woman {
	background-color: #e83e8c;
	border-radius: 8px;
	padding: 4px;
	color: #fff;
}

.root .mix {
	background-color: #6f42c1;
	border-radius: 8px;
	padding: 4px;
	color: #fff;
}

.root .apply-wrap[data-status=ing] {
    background-color: #ffc107;
}

.root .apply-wrap[data-status=agree] {
    background-color: #007bff;
}

.root .apply-wrap[data-status=disagree] {
    background-color: #dc3545;
}

.root .apply-wrap {    
    width: 80px;
    border-radius: 5px;
    color: #fff;
    position: relative;
    text-align: center;
}